.vs/
.terraform/providers/registry.terraform.io/hashicorp/aws/6.8.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.8.0/windows_386/terraform-provider-aws_v6.8.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/6.9.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.9.0/windows_386/terraform-provider-aws_v6.9.0_x5.exe
.terraform/providers/
.terraform/
aws/
scripts/terraform.tfstate
.terraform.lock.hcl
k8s_manifests/apps/ingress.yaml
k8s_manifests/apps/alb_serviceAccount.yaml
scripts/install-alb-k8s-manifests-argocd.sh
charts/values/alb_values.yaml
terraform.tfvars
k8s_manifests/apps/deployment_green.yaml
k8s_manifests/apps/deployment_blue.yaml

k8s_service_accounts/alb_serviceAccount.yaml
