.vs/
.terraform/providers/registry.terraform.io/hashicorp/aws/6.8.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.8.0/windows_386/terraform-provider-aws_v6.8.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/6.9.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.9.0/windows_386/terraform-provider-aws_v6.9.0_x5.exe
.terraform/providers/
.terraform/
.terraform.lock.hcl
scripts/install-alb-k8s-manifests-argocd.sh
charts/values/alb_values.yaml
terraform.tfvars
infra/4-template_config/rendered/
infra/ecr/terraform.tfstate.backup
infra/ecr/terraform.tfstate
k8s_manifests/apps_OLD/deployment_green.yaml
k8s_manifests/apps_OLD/deployment_blue.yaml
