#!/bin/bash
# shellcheck disable=SC2154
set -e
# Variables inyectadas por Terraform:
# - cluster_name
# - region
# - vpc_id

CLUSTER_NAME=${cluster_name}
REGION=${region}
VPC_ID=${vpc_id}

echo "Updating kubeconfig for cluster $CLUSTER_NAME in region $REGION"
aws eks update-kubeconfig --name $CLUSTER_NAME --region $REGION
helm repo add eks https://aws.github.io/eks-charts
helm repo update

echo "Installing AWS Load Balancer Controller via Helm"
helm install aws-load-balancer-controller eks/aws-load-balancer-controller   -n kube-system   --set clusterName=$CLUSTER_NAME   --set serviceAccount.create=true   --set serviceAccount.name=aws-load-balancer-controller   --set serviceAccount.annotations."eks\.amazonaws\.com/role-arn"=arn:aws:iam::156041411098:role/aws-load-balancer-controller   --set region=$REGION   --set vpcId=$VPC_ID

sleep 15
echo "Applying Kubernetes manifests..."
kubectl apply -f k8s_manifests/deployment_blue.yaml
kubectl apply -f k8s_manifests/deployment_green.yaml
kubectl apply -f k8s_manifests/service_blue.yaml
kubectl apply -f k8s_manifests/service_green.yaml
kubectl apply -f k8s_manifests/ingress.yaml
